@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 100%;
    box-sizing: border-box;
}
section {
    background-color: rgb(128, 223, 235);
    border-radius: 7px;
    padding: 5px;
    margin-left: 170px;
    margin-right: 170px;
    text-align: center; 
    
}
h1 {
    font-size: 70px;
    color: rgb(212, 58, 132);
    text-decoration: underline;
}
body {
    font: 2rem "Poppins", sans-serif;
    background: linear-gradient(rgb(37,196,220), rgb(222,246,249));

}