@import url(./reset.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-size: 100%;
    box-sizing: border-box;
}
.contents {
    background-color: rgb(128, 223, 235);
    border-radius: 7px;
    padding: 5px;
    margin-left: 170px;
    margin-right: 170px;
    text-align: center;       
}
.contents a:hover{
    color: rgb(212, 58, 132);
    background-color: rgb(62, 207, 226);
}
h1 {
    font-size: 70px;
    color: rgb(212, 58, 132);
    text-decoration: underline;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 30px;
}
h2 {
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 20px;

}
body {
    font: 2rem "Poppins", sans-serif;
    background: linear-gradient(rgb(37,196,220), rgb(222,246,249));
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-left: 30px ; 
    padding-bottom: 90px;
    position: relative;
    min-height: 100vh;
    

} 
.sources {
    margin-top: 50px;
}

footer {
    font-size: 20px;
    text-align: end;
    padding: 30px;
    background-color: rgb(197, 28, 110);
    position: fixed;
    bottom: 0;
}